body {
    background-color: #f4f4f9;
    font-family: 'Arial', sans-serif;
}

h1 {
    font-size: 2.5rem;
    color: #333;
}

.table-hover tbody tr:hover {
    background-color: #e9ecef;
}

.team-logo {
    width: 30px;
    height: 30px;
}

.modal-content {
    border-radius: 10px;
}

.modal-header {
    background-color: #007bff;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.btn-outline-secondary {
    border-color: #007bff;
    color: #007bff;
}

.btn-outline-secondary:hover {
    background-color: #007bff;
    color: white;
}

.bg-primary {
    background-color: #007bff !important;
}

.text-white {
    color: white !important;
}

